*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.loginForm{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
.form__container{
    display: flex;
    margin-top:90px;
}
.img-bg{
    position: relative;
    width: 70%;
    object-fit: cover;
    background-image: url("../../Assets/img.jpg");
    background-size: 130%;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    background-position: bottom;
}
.loginForm .img-bg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.loginForm .noi-dung{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.loginForm .noi-dung .form{
    width: 50%;
}
.loginForm .noi-dung .form h2{
    color: #607d8b;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #48d9c6;
    display: inline-block;
    letter-spacing: 1px;
}
.loginForm .noi-dung .form .input-form{
    margin-bottom: 20px;
}
.loginForm.noi-dung .form .input-form span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607db8;
    letter-spacing: 1px;
     }
.loginForm .noi-dung .form .input-form input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
    }
.loginForm .noi-dung .form .input-form input[type="submit"]{
    background: #48d9c6;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
               0 2px 2px rgba(0,0,0,0.12),
               0 4px 4px rgba(0,0,0,0.12),
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}
.loginForm .noi-dung .form .input-form input[type="submit"]:hover{
    background:#48d9c6 ;
}
.loginForm.noi-dung .form .nho-dang-nhap{
    margin-bottom: 10px;
    color: #607d8b;
    font-size: 14px;
}
.loginForm .noi-dung .form .input-form p{
    color: #607d8b;
}
.loginForm .noi-dung .form .input-form p a{
    color: #48d9c6;
}

    

.QuizGrad{
    font-size: 70px;
    margin-bottom: 50px;

}
.Grad{
    color: #48d9c6;
}
.loginText{
    margin-bottom: 30px;
    font-size: 20px;
}